{% extends "base.html" %}
{% block content %}
<div class="container">

<a href="{% url 'new_dashboard' %}">
    <button class="btn btn-primary" type="submit">Create dashboard</button>
</a>

        <h2>Last Dashboards</h2>

        {% for dashboard in page %}
            <div class="card mb-3 mt-1 shadow-sm">

            <!-- Filed for Text -->
            <div class="card-body">
              <a href="{% url 'dashboard_view' dashboard.id%}"><p class="card-text">ID: {{dashboard.id}}</p></a>
              <p class="card-text">Author: {{dashboard.user_id.username}}</p>
              <p class="card-text">Dashboard name: {{dashboard.name}}</p>
                <p class="card-text">Description: {{dashboard.description}}</p>
            </div>

          {% if user == dashboard.user_id %}
               <a class="btn btn-sm text-muted" href="{% url 'dashboard_delete' dashboard.id %}"role="button">Delete</a>
          {% endif %}
            </div>
        {% endfor %}

        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}


    </div>
{% endblock %}
