<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand fs-1 " href="{% url 'index' %}"><span style="color:red">Tree</span>menu</a>
    <nav>
        {% if user.is_authenticated %}
            User: <a href="">{{ user.username }}</a> |
            <a href="{% url 'logout' %}">Logout</a> |
        {% else %}
            <a class="p-2 text-dark" href="{% url 'login' %}">Sign in</a> |
            <a class="p-2 text-dark" href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
</nav>